<div class="editPage">

    @if (Model.ToString().Contains("Word"))
    {
        @await Html.PartialAsync("EditButtonPartial")

        <div class="editHeader">

            <h3 class="title">Удаление объекта прошло  успешно!</h3>
            <h4 class="title">Данные удаленного объекта:</h4>
            <hr class="horizontal-line" />
            <br />
            <div>

                <div class="displayFlex">
                    Id: @Model.Id
                </div>
                <div class="displayFlex">
                    Англ: @Model.EngValue || Рус: @Model.RusValue
                </div>
                <div class="displayFlex">
                    Транскрипция: [ @Model.Transcription ]
                </div>
                <div class="displayFlex">
                    Часть речи: @Model.PartOfSpeech.ToString()
                </div>
            </div>
        </div>
    }
    @if (Model.ToString().Contains("Sentence"))
    {
        @await Html.PartialAsync("EditButtonPartial")

        <div class="editHeader">

            <h3 class="title">Удаление объекта прошло  успешно!</h3>
            <h4 class="title">Данные удаленного объекта:</h4>
            <hr class="horizontal-line" />
            <br />
            <div>

                <div class="displayFlex">
                    Id: @Model.Id
                </div>
                <div class="displayFlex">
                    Англ: @Model.EngValue
                </div>
                <div class="displayFlex">
                    Рус: @Model.RusValue
                </div>
                <div class="displayFlex">
                    Время англ. языка: @Model.Tense.ToString()
                </div>
            </div>
        </div>
    }
</div>