@model List<Word>
<div class="editPage">

    @await Html.PartialAsync("EditButtonPartial")

    <div class="editHeader">

        <h2 class="title">Результаты поиска: </h2>
        <hr class="horizontal-line" />

        @foreach (var item in Model)
        {
            <div class="card">
                <div>
                    <h4>Id: @item.Id  Часть речи: @item.PartOfSpeech.ToString()</h4>
                </div>
                <div>
                    <h3>@item.EngValue [ @item.Transcription ] @item.RusValue</h3>
                </div>
                <div class="editDelete">
                    <a asp-controller="Word" asp-action="EditWord" asp-route-wordId="@item.Id">редактировать</a>
                    <a asp-controller="Word" asp-action="DeleteWord" asp-route-wordId="@item.Id">удалить</a>
                </div>
            </div>
        }
    </div>
</div>


